{% extends 'base.html' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
	<div class="container py-5">
	    <div class="row">
	        <div class="col-md-12">
	            <h1>Mentions légales</h1>
	            Raison sociale : Florent Vandroy<br />
	            Numéro de SIRET : 85047636700014<br />
	            Forme Juridique : Auto-entrepreneur<br />
	            Adresse : 16 rond point du hameau des chênes, 24100, CREYSSE<br />
	            Adresse e-mail : <a href="mailto:florentvandroy@gmail.com">florentvandroy@gmail.com</a><br />
	            Téléphone : <a href="tel:0603008201">0603008201</a><br />
	            Responsable de la publication : Florent Vandroy<br />
	            Hébergeur : OVH – 2 rue Kellermann – 59100 ROUBAIX – France<br />
	        </div>
	    </div>
	</div>
{% endblock %}