@import "modules/__variables";
@import "bootstrap/bootstrap";

@import "modules/_header";
@import "modules/_footer";

@import "modules/_homepage";
@import "modules/_blog";

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

@media (min-width: 1200px){
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 1000px;
    }
}

@media (min-width: 1500px){
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 1350px;
    }
}

.btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
}

.navbar-dark .navbar-toggler {
    border-color: rgba(255, 255, 255, 1);
}

.card {
    border: 0px;
}